html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
    display: block;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

figcaption,
figure,
main {
    /* 1 */
    display: block;
}

figure {
    margin: 1em 40px;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}

b,
strong {
    font-weight: inherit;
}

b,
strong {
    font-weight: bolder;
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

dfn {
    font-style: italic;
}

mark {
    background-color: #ff0;
    color: #000;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

audio,
video {
    display: inline-block;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

img {
    border-style: none;
}

svg:not(:root) {
    overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}

progress {
    display: inline-block;
    vertical-align: baseline;
}

textarea {
    overflow: auto;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

 ::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

details,
menu {
    display: block;
}

summary {
    display: list-item;
}

canvas {
    display: inline-block;
}

template {
    display: none;
}

[hidden] {
    display: none;
}


/*↑↑  Normalize Css  ↑↑*/


/*↑↑  Normalize Css  ↑↑*/


/*↑↑  Normalize Css  ↑↑*/


/*↑↑  Normalize Css  ↑↑*/

* {
    box-sizing: border-box;
}

a {
    display: inline-block;
}

.h {
    margin: 0;
}

button {
    border: none;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.redline::after {
    content: "";
    position: absolute;
    background-color: #EE3643;
    left: 5px;
    top: 8px;
    height: 2px;
    width: 25px;
}

.new {
    position: relative;
}

.new::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: url("images/sprites.png") no-repeat -623px -189px;
    width: 60px;
    height: 60px;
}

.btn {
    display: inline-block;
    text-decoration: none;
    border-radius: 0;
    padding-top: 14px;
    padding-bottom: 14px;
    color: #FFF;
}

.red-btn {
    background-color: #EE3643;
    font-family: 'Cuprum', sans-serif;
    border-radius: 3px;
    padding: 14px 50px;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
}

.red-btn:hover {
    background-color: #CA2C37;
}

.red-btn:active {
    background-color: #BA2732;
}

body {
    font-family: 'Cuprum', sans-serif;
}

.tech-header {
    margin-bottom: 60px;
}

.container {
    width: 940px;
    margin: auto;
}

.top-menu {
    background-color: #293449;
}

.top-menu .container {
    display: flex;
    justify-content: space-between;
}

.top-menu .btn {
    font-size: 17px;
    width: 150px;
    text-align: center;
    line-height: 18px;
    color: #FFF;
    text-decoration: none;
}

.top-menu form {
    padding: 0;
}

.top-menu .search {
    width: 270px;
    border: none;
    background: url("images/sprites.png") no-repeat -445px -652px, #293449;
    padding: 13px 0 11px 50px;
    color: #FFF;
}

.search:hover {
    background: url("images/sprites.png") no-repeat -451px -704px, #212A3A;
}

.search:focus {
    background: url("images/sprites.png") no-repeat -446px -756px, #FFF;
    color: #000;
    outline: none;
}

.search::-webkit-input-placeholder {
    color: #FFF;
}

.search::-moz-placeholder {
    color: #FFF;
}

.search:-moz-placeholder {
    color: #FFF;
}

.bookmarks-link {
    padding: 12px 0 12px 25px;
    background: url("images/sprites.png") no-repeat -196px -654px;
}

.bookmarks-link:hover {
    background: url("images/sprites.png") no-repeat -196px -706px, #212A3A;
}

.bookmarks-link:active {
    background: url("images/sprites.png") no-repeat -196px -755px, #161D29;
}

.basket-link {
    padding: 12px 0 12px 25px;
    background: url("images/sprites.png") no-repeat 2px -659px;
}

.basket-link:hover {
    background: url("images/sprites.png") no-repeat 3px -704px, #212A3A;
}

.basket-link:active {
    background: url("images/sprites.png") no-repeat 2px -753px, #161D29;
}

.place-an-order {
    padding: 12px 0;
    text-align: center;
    background-color: #63A63E;
    width: 150px;
}

.place-an-order:hover {
    background-color: #5FBB2D;
}

.place-an-order:active {
    background-color: #518534;
}

.logo {
    text-decoration: none;
    display: block;
    position: relative;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    padding: 12px 0 6px 0;
    width: 220px;
    background-color: #EE3643;
    text-transform: uppercase;
    color: #FFF;
}

.logo:hover {
    background-color: #CA2C37;
}

.logo:active {
    background-color: #BA2732;
}

.bot-line::after {
    content: "";
    bottom: -5px;
    left: 0;
    position: absolute;
    background-color: #B52933;
    width: 100%;
    height: 5px;
}

.about-us {
    top: -5px;
    background-color: #F3F7F8;
    padding-bottom: 60px;
}

.about-us p,
.about-us {
    margin: 0;
}

.info {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 46px;
    padding-left: 50px;
    padding-bottom: 46px;
}

.info .description {
    margin: 0;
    margin-right: 100px;
    width: 190px;
    font-style: italic;
    color: #EE3643;
}

.info .phone {
    background: url("images/sprites.png") no-repeat -3px -605px;
    margin: 0;
    display: block;
    font-size: 21px;
    line-height: 18px;
    padding-left: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 3px solid #FFF;
    color: #EE3643;
}

.info p {
    margin-top: 5px;
    font-size: 14px;
    line-height: 24px;
    color: #32425C;
}

.info .call-us {
    margin-right: 75px;
    min-width: 270px;
}

.info .btn {
    color: #000;
    background-color: #FFF;
    display: block;
    font-size: 21px;
    line-height: 18px;
    padding: 13px 25px 14px 25px;
}

.info .sign-in {
    margin-right: 10px;
    padding-left: 40px;
    background: url("images/sprites.png") no-repeat -1007px -653px, #FFF;
}

.site-navigation {
    background-color: #32425C;
    border-bottom: 5px solid #293449;
    display: flex;
    justify-content: space-between;
}

.site-navigation .btn {
    text-decoration: none;
    color: #FFF;
    padding: 20px 34px 20px 33px;
    font-size: 17px;
    line-height: 17px;
}

.site-navigation .btn:hover {
    background-color: #293449;
}

.site-navigation .btn:active {
    background-color: #293449;
    color: #8E939C;
}

.first-block {
    margin-bottom: 40px;
}

.card1 {
    float: left;
    background: url("images/sprites.png") no-repeat -140px 23px, #FFBF47;
    margin-right: 20px;
}

.card2 {
    float: left;
    background: url("images/sprites.png") no-repeat -129px -88px, #3BBCE3;
}

.card3 {
    float: right;
    background: url("images/sprites.png") no-repeat -140px -205px, #DC91D8;
}

.card4 {
    float: right;
    background: url("images/sprites.png") no-repeat -140px -320px #8ED78F;
}

.card5 {
    float: right;
    background: url("images/sprites.png") no-repeat -151px -460px, #FFBF47;
}

.slider {
    padding: 25px;
    float: left;
    width: 620px;
    height: 270px;
    background-color: #52473A;
}

.slider-changable .h {
    font-size: 36px;
    line-height: 30px;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 10px;
}

.slider-changable span {
    color: #FFF;
    display: inline-block;
    margin-bottom: 120px;
}

.slider-second {
    display: none;
}

.first-block .card {
    color: #FFF;
    padding: 13px 0 23px 23px;
    width: 300px;
    height: 125px;
    margin-bottom: 20px;
}

.card .h {
    margin-top: 0;
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

.card .btn {
    border-radius: 5px;
    padding: 14px 24px;
    background-color: rgba(37, 37, 37, 0.2);
}

.card .btn:hover {
    background-color: rgba(37, 37, 37, 0.4);
}

.card .btn:active {
    background-color: rgba(37, 37, 37, 0.6);
}

.popular-heading {
    background-color: #F9F5F0;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
}

.popular-heading .h {
    margin-top: 8px;
    font-size: 30px;
    line-height: 30px;
    color: #32425C;
    text-transform: uppercase;
}

.popular-catalog {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.hover-btns {
    display: none;
}

.item {
    width: 220px;
    text-align: center;
    border: 1px solid #EAEAEA;
}

.popular-catalog .item {
    height: 320px;
    font-family: 'PT Sans', sans-serif;
}

.popular-catalog .item-name {
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    width: 160px;
    margin-bottom: 15px;
}

.popular-catalog .item-old-price {
    margin-bottom: 15px;
    min-height: 21px;
    color: #AAA;
}

.popular-catalog .item-new-price {
    color: #FFF;
    padding: 7px;
    background: #EE3643;
    background: url("images/for-price.png") no-repeat 38px -2px;
}

.image-wrap {
    display: flex;
    height: 180px;
    position: relative;
}

.image-wrap img {
    margin: auto;
}

.manufacturers-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.manufacturers-list .item {
    opacity: 1;
    transition: opacity .2s ease;
    height: 145px;
    display: flex;
    margin-bottom: 20px;
}

.manufacturers-list .item:hover {
    box-shadow: 0 6px 11px 4px rgba(0, 0, 0, 0.3);
}

.manufacturers-list .item:active {
    opacity: 0.4;
    box-shadow: 0 6px 7px 1px rgba(0, 0, 0, 0.3);
}

.manufacturers-list img {
    margin: auto;
}

.services {
    padding-bottom: 80px;
    background-color: #F4F8FA;
    padding-top: 70px;
}

.services p {
    line-height: 24px;
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    width: 400px;
    margin-bottom: 70px;
}

.services .h {
    font-size: 30px;
    text-transform: uppercase;
}

.services-buttons-block {
    margin-right: 50px;
}

.second-slider {
    display: flex;
    justify-content: flex-start;
}

.services-buttons-block label {
    font-size: 21px;
    line-height: 30px;
    font-weight: bold;
    color: #FFF;
    border-bottom: 1px solid #4E637C;
    display: block;
    width: 240px;
    padding: 17px 0 17px 20px;
    background-color: #32425C;
}

.services-buttons-block label:hover {
    background-color: #293449;
}

.services-buttons-block label:last-child {
    border: none;
}

.services-buttons-block input {
    display: none;
}

.services-input:checked+label {
    background-color: #FFF;
    color: #32425C;
}

.services-changable-text-block .h {
    font-size: 32px;
    color: #32425C;
}

.services-changable-text-block p {
    width: 270px;
    margin-bottom: 0;
}

.company--contacts .container {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
}

.company--contacts .h {
    font-size: 30px;
    line-height: 24px;
    text-transform: uppercase;
}

.company--contacts p {
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    line-height: 24px;
}

.company--contacts .p1 {
    width: 525px;
}

.company--contacts .p2 {
    width: 390px;
}

.deliverers {
    list-style: none;
    padding: 0;
    margin-bottom: 30px;
}

.deliverers li {
    font-size: 18px;
    line-height: 20px;
    position: relative;
    padding-left: 40px;
    margin-bottom: 15px;
}

.contacts iframe {
    width: 300px;
    height: 160px;
}

.tech-footer {
    background-color: #32425C;
    color: #FFF;
}

.tech-footer a {
    color: #FFF;
    text-decoration: none;
}

.tech-footer .logo {
    font-size: 30px;
    line-height: 30px;
    padding-top: 20px;
    padding-bottom: 16px
}

.bot-navigation {
    font-size: 18px;
    line-height: 24px;
}

.bot-first-block {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

.bot-second-block p {
    margin: 0;
    display: block;
}

.bot-second-block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.bot-first-nav {
    padding-top: 30px;
}

.bot-first-nav a {
    margin-left: 55px;
}

.bot-second-nav a {
    color: #FFD180;
    margin-left: 55px;
}

.bot-first-nav a,
.bot-second-nav a {
    transition: opacity .1s ease;
}

.bot-first-nav a:hover,
.bot-second-nav a:hover {
    text-decoration: underline;
}

.bot-first-nav a:active,
.bot-second-nav a:active {
    text-decoration: none;
    opacity: 0.3;
}

.bot-links {
    background-color: #293449;
    padding: 27px 0 23px 0;
}

.bot-links p {
    margin: 0;
}

.bot-links .link:hover {
    text-decoration: underline;
}

.bot-links .link:active {
    text-decoration: none;
    color: #E13643;
}

.bot-links-flex {
    background-color: #293449;
    display: flex;
    justify-content: space-between;
}

.soc-links a {
    display: inline-block;
    width: 41px;
    height: 41px;
    border-radius: 50%;
    background-color: #212A3A
}

.soc-links a:hover {
    background-color: #EE3643;
}

.soc-links a:active {
    background-color: #EE3643;
}

.vk-link {
    background: url("images/sprites.png") no-repeat -55px -7px;
}

.fb-link {
    background: url("images/sprites.png") no-repeat -56px -55px;
}

.inst-link {
    background: url("images/sprites.png") no-repeat -56px -103px;
}

.bot-links .link {
    color: #FFD180;
}


/*↑↑  index index  ↑↑*/


/*↑↑  index index  ↑↑*/


/*↑↑  index index  ↑↑*/


/*↑↑  index index  ↑↑*/

.techmart-catalog .tech-header {
    margin-bottom: 0;
}

.catalog-breadcrumbs {
    padding-top: 10px;
    padding-bottom: 10px;
}

.catalog-breadcrumbs a {
    font-size: 13px;
    line-height: 18px;
    font-family: 'PT Sans', sans-serif;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
}

.catalog-breadcrumbs .home-icon {
    margin-right: 6px;
    width: 16px;
    height: 14px;
    background: url("images/sprites.png") no-repeat -1118px -65px;
}

.catalog-breadcrumbs .real-breadcrumb {
    padding-left: 12px;
    padding-right: 12px;
    position: relative;
}

.real-breadcrumb::after {
    content: "";
    position: absolute;
    left: -4px;
    top: 2px;
    width: 8px;
    height: 14px;
    background: url("images/sprites.png") no-repeat -74px -470px;
}

.catalog--filters {
    font-family: 'PT Sans', sans-serif;
    display: flex;
    justify-content: space-between;
}

.filters {
    width: 220px;
}

.catalog-heading {
    background-color: #f2f6f8;
    color: #32425C;
    text-transform: uppercase;
    padding: 30px 20px 25px 20px;
    font-size: 30px;
    line-height: 30px;
}

.sort {
    padding: 15px 18px;
    background-color: #F7F3EC;
    display: flex;
    justify-content: space-between;
}

.sort-types {
    margin: 0;
    padding: 0;
}

.sort-types .btn {
    padding: 0;
    background: none;
    color: #ACAAA5;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 18px;
}

.sort-types .type-of-sort {
    margin-left: 35px;
    border-bottom: 1px dotted #EE3643;
    margin-right: 35px;
}

.sort-types .type-of-sort:hover {
    color: #000;
    border-bottom-style: solid;
}

.type-of-sort.on-this-page {
    border: none;
    color: #EE3643;
}

.type-of-sort.on-this-page:hover {
    border: none;
}

.sort-types .arrow {
    width: 11px;
    height: 11px;
}

.sort-types .up-arrow {
    background: url("images/sprites.png") no-repeat -67px -169px;
    margin-right: 10px;
}

.sort-types .down-arrow {
    background: url("images/sprites.png") no-repeat -70px -319px;
}

.sort-types .up-arrow:hover {
    background: url("images/sprites.png") no-repeat -69px -218px;
}

.sort-types .down-arrow:hover {
    background: url("images/sprites.png") no-repeat -70px -370px;
}

.sort-types .up-arrow.on-this-page {
    background: url("images/sprites.png") no-repeat -70px -270px;
}

.sort-types .down-arrow.on-this-page {
    background: url("images/sprites.png") no-repeat -70px -420px;
}

.sort-heading {
    margin: 0;
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 21px;
}

.filter-heading {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 15px;
}

.price-limits input {
    text-align: center;
    width: 95px;
    padding: 13px 5px;
    background-color: #F7F3EC;
    border: none;
}

.price-limits span {
    margin: 0 4px;
}

.filters hr {
    size: 30px;
    color: #E5E5E5;
    border: none;
    margin: 20px 0;
    border-top: 1px solid #E5E5E5;
}

.filters-group {
    display: flex;
    flex-direction: column;
}

.filters-group input {
    display: none;
}

.filters-group label {
    margin-bottom: 10px;
    display: inline-block;
    padding: 3px 30px;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
}

.custom-check {
    position: relative;
}

.custom-check::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    left: 0;
    top: 2px;
    background: url("images/sprites.png") no-repeat -14px -462px;
}

.filters-group input[type="checkbox"]:checked+label:after {
    background: url("images/sprites.png") no-repeat -11px -313px;
}

.custom-radio {
    position: relative;
}

.custom-radio::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    left: 0;
    top: 2px;
    background: url("images/sprites.png") no-repeat -12px -163px;
}

.filters-group input[type="radio"]:checked+label:after {
    background: url("images/sprites.png") no-repeat -12px -12px;
}

.filters .btn {
    color: #000;
    background-color: #FFF;
    border: 1px solid #E5E5E5;
    padding: 12px 40px 10px 40px;
    text-transform: uppercase;
    margin-top: 40px;
    font-size: 13px;
    line-height: 18px;
    border-radius: 3px;
}

.catalog-block {
    width: 700px;
}

.catalog-block .sort {
    margin-bottom: 20px;
}

.catalog {
    display: flex;
    flex-wrap: wrap;
}

.catalog-item {
    width: 220px;
    text-align: center;
    border: 1px solid #EAEAEA;
    height: 320px;
    font-family: 'PT Sans', sans-serif;
    margin-right: 20px;
    margin-bottom: 20px;
}

.catalog-item:nth-child(3n) {
    margin-right: 0;
}

.catalog-item .item-name {
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    width: 160px;
    margin-bottom: 15px;
}

.catalog-item .item-old-price {
    margin-bottom: 15px;
    min-height: 21px;
    color: #AAA;
}

.catalog-item .item-new-price {
    color: #FFF;
    padding: 7px;
    background: #EE3643;
    background: url("images/sprites.png") no-repeat -544px -35px;
}

.catalog-info {
    background-color: #F2F6F8;
    padding: 50px 0;
}

.catalog-info .h {
    text-transform: uppercase;
    font-family: 'Cuprum', sans-serif;
    font-size: 30px;
}

.catalog-info p {
    font-family: 'Cuprum', sans-serif;
    font-size: 15px;
    line-height: 24px;
}

.pagination {
    margin-bottom: 60px;
}

.pagination .btn {
    margin-right: 10px;
    font-size: 13px;
    line-height: 18px;
    padding: 12px 16px;
    color: #000;
    background-color: #FFF;
    border-radius: 4px;
    border: 1px solid #E5E5E5;
    text-transform: uppercase;
}

.pagination .btn.on-this-page {
    color: #FFF;
    background-color: #EE3643;
    border-color: #EE3643;
}

.pagination .btn:hover {
    border-color: #BDC6CA;
}

.pagination .btn:active {
    border-color: #EE3643;
}

.pagination .btn:last-child {
    padding: 12px 30px;
}