html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
    display: block;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

figcaption,
figure,
main {
    /* 1 */
    display: block;
}

figure {
    margin: 1em 40px;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}

b,
strong {
    font-weight: inherit;
}

b,
strong {
    font-weight: bolder;
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

dfn {
    font-style: italic;
}

mark {
    background-color: #ff0;
    color: #000;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

audio,
video {
    display: inline-block;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

img {
    border-style: none;
}

svg:not(:root) {
    overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button:active,
button:focus {
    outline: none;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}

progress {
    display: inline-block;
    vertical-align: baseline;
}

textarea {
    overflow: auto;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

 ::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

details,
menu {
    display: block;
}

summary {
    display: list-item;
}

canvas {
    display: inline-block;
}

template {
    display: none;
}

[hidden] {
    display: none;
}


/*↑↑  Normalize Css  ↑↑*/


/*↑↑  Normalize Css  ↑↑*/


/*↑↑  Normalize Css  ↑↑*/


/*↑↑  Normalize Css  ↑↑*/

* {
    box-sizing: border-box;
}

a {
    display: inline-block;
}

button {
    border: none;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.redline::after {
    content: "";
    position: absolute;
    background-color: #ee3643;
    left: 0;
    top: 9px;
    height: 2px;
    width: 25px;
}

.new {
    position: relative;
}

.new::before {
    z-index: 1;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: url("images/sprites.png") no-repeat -623px -189px;
    width: 60px;
    height: 60px;
}

.btn {
    display: inline-block;
    text-decoration: none;
    border-radius: 0;
    padding-top: 14px;
    padding-bottom: 14px;
    color: #fff;
}

.red-btn {
    background-color: #ee3643;
    font-family: 'Cuprum', sans-serif;
    border-radius: 3px;
    padding: 11px 0px 9px 0px;
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
    line-height: 18px;
    cursor: pointer;
}

.red-btn:hover {
    background-color: #ca2c37;
}

.red-btn:active {
    background-color: #ba2732;
}

body {
    font-family: 'Cuprum', sans-serif;
}

.tech-header {
    margin-bottom: 59px;
}

.container {
    width: 940px;
    margin: auto;
}

.top-menu {
    background-color: #293449;
}

.top-menu .container {
    display: flex;
    justify-content: space-between;
}

.top-menu .btn {
    font-size: 17px;
    width: 150px;
    text-align: center;
    line-height: 18px;
    color: #fff;
    text-decoration: none;
}

.top-menu form {
    padding: 0;
}

.top-menu .search {
    width: 270px;
    border: none;
    background: url("images/sprites.png") no-repeat -447px -652px, #293449;
    padding: 12px 0 12px 48px;
    color: #fff;
}

.search:hover {
    background: url("images/sprites.png") no-repeat -453px -704px, #212a3a;
}

.search:focus {
    background: url("images/sprites.png") no-repeat -448px -756px, #fff;
    color: #000;
    outline: none;
}

.search::-webkit-input-placeholder {
    color: #fff;
    font-family: 'Cuprum', sans-serif;
    font-size: 17px;
}

.search::-moz-placeholder {
    color: #fff;
    font-family: 'Cuprum', sans-serif;
    font-size: 17px;
}

.search:-moz-placeholder {
    color: #fff;
    font-family: 'Cuprum', sans-serif;
    font-size: 17px;
}

.bookmarks-link {
    padding: 12px 0 12px 17px;
    background: url("images/sprites.png") no-repeat -202px -654px;
}

.bookmarks-link:hover {
    background: url("images/sprites.png") no-repeat -202px -706px, #212a3a;
}

.bookmarks-link:active {
    background: url("images/sprites.png") no-repeat -202px -755px, #161d29;
}

.basket-link {
    padding: 12px 0 12px 19px;
    background: url("images/sprites.png") no-repeat -1px -660px;
}

.basket-link:hover {
    background: url("images/sprites.png") no-repeat 0px -705px, #212a3a;
}

.basket-link:active {
    background: url("images/sprites.png") no-repeat -1px -754px, #161d29;
}

.place-an-order {
    padding: 12px 0;
    text-align: center;
    background-color: #63a63e;
    width: 150px;
}

.place-an-order:hover {
    background-color: #5fbb2d;
}

.place-an-order:active {
    background-color: #518534;
}

.logo {
    text-decoration: none;
    display: block;
    position: relative;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    padding: 11px 0 6px 0;
    width: 220px;
    background-color: #ee3643;
    text-transform: uppercase;
    color: #fff;
}

.logo:hover {
    background-color: #ca2c37;
}

.logo:active {
    background-color: #ba2732;
}

.bot-line::after {
    content: "";
    bottom: -5px;
    left: 0;
    position: absolute;
    background-color: #b52933;
    width: 100%;
    height: 5px;
}

.about-us {
    top: -5px;
    background-color: #f3f7f8;
    padding-bottom: 60px;
}

.about-us p,
.about-us {
    margin: 0;
}

.info {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    font-family: 'Cuprum', sans-serif;
    padding-top: 46px;
    padding-bottom: 39px;
}

.info .description {
    margin: 0;
    font-size: 16px;
    line-height: 23px;
    padding-left: 52px;
    padding-right: 10px;
    margin-right: 58px;
    padding-top: 3px;
    width: 262px;
    font-style: italic;
    color: #EE3643;
}

.info .phone {
    background: url("images/sprites.png") no-repeat -5px -604px;
    margin: 0;
    font-weight: 400;
    display: block;
    font-size: 21px;
    line-height: 18px;
    padding-left: 71px;
    padding-top: 11px;
    padding-bottom: 10px;
    border: 3px solid #fff;
    color: #ee3643;
}

.info p {
    margin-top: 5px;
    font-size: 14px;
    line-height: 24px;
    color: #32425c;
}

.info .call-us {
    min-width: 270px;
    margin-right: 50px;
}

.call-us p {
    margin-left: 10px;
}

.info .btn {
    color: #000;
    background-color: #fff;
    font-size: 21px;
    line-height: 18px;
    padding: 13px 25px 14px 25px;
}

.info .sign-in {
    margin-right: 8px;
    margin-left: 20px;
    padding-left: 47px;
    background: url("images/sprites.png") no-repeat -1007px -653px, #fff;
}

.info .sign-in:hover {
    background: url("images/sprites.png") no-repeat -1004px -700px, #fff;
    color: #ee3643;
}

.info .sign-in:active {
    background: url("images/sprites.png") no-repeat -1008px -756px, #fff;
    color: #b2b2b2;
}

.info .register {
    padding: 13px 23px 14px 25px;
}

.info .register:hover {
    color: #ee3643;
}

.info .register:active {
    color: #b2b2b2;
}

.site-navigation {
    background-color: #32425c;
    border-bottom: 5px solid #293449;
    display: flex;
    justify-content: center;
}

.site-navigation .btn {
    text-decoration: none;
    color: #fff;
    padding: 20px 30px 18px 30px;
    font-size: 17px;
    line-height: 17px;
}

.site-navigation .btn:hover {
    background-color: #293449;
}

.site-navigation .btn:active {
    background-color: #293449;
    color: #8e939c;
}

.first-block {
    margin-bottom: 33px;
}

.first-slider {
    position: relative;
    float: left;
    width: 620px;
    height: 266px;
    background-color: #52473a;
}

.first-slider-radio {
    display: none;
}

.first-slider .h {
    font-size: 36px;
    line-height: 30px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 5px;
}

.first-slider span {
    color: #fff;
    display: inline-block;
    font-size: 18px;
    line-height: 24px;
    font-family: 'PT Sans', sans-serif;
}

.first-slider .btn {
    display: block;
    width: 195px;
    padding-left: 2px;
    text-align: center;
    margin-left: 25px;
}

.first-slider .slide-tint {
    padding: 25px 25px 21px 25px;
    background-color: rgba(0, 0, 0, 0.5);
    margin-bottom: 101px;
}

.first-slider .slide {
    display: none;
    padding-bottom: 19px;
    height: 100%;
    background-size: auto 100%;
}

.first-slider .slide1 {
    background-image: url("images/harold.jpg");
    background-size: 100% auto;
}

.first-slider .slide2 {
    background-image: url("images/drills.jpg");
}

.first-slider .slider-controls {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 36px;
    width: 30px;
    display: flex;
    justify-content: space-between;
}

.first-slider label {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid #fff;
    background-color: #fff;
}

#first-radio-1:checked~.first-slider .slide1,
#first-radio-2:checked~.first-slider .slide2 {
    display: block;
}

#first-radio-1:checked~.first-slider label[for="first-radio-1"],
#first-radio-2:checked~.first-slider label[for="first-radio-2"] {
    background-color: #ee3643;
}

.first-block .card {
    color: #fff;
    padding: 21px 0 23px 22px;
    width: 300px;
    height: 123px;
    margin-bottom: 20px;
}

.card .h {
    margin-top: 0;
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    margin-bottom: 12px;
}

.card .btn {
    margin-left: 1px;
    border-radius: 3px;
    padding-top: 12px;
    padding-bottom: 10px;
    font-size: 14px;
    background-color: rgba(37, 37, 37, 0.1);
    text-transform: uppercase;
    text-align: center;
    width: 135px;
    padding-left: 0px;
}

.card1 .btn,
.card2 .btn {
    margin-left: 3px;
}

.card1 {
    float: left;
    background: url("images/sprites.png") no-repeat -140px 19px, #ffbf47;
    margin-right: 20px;
}

.card2 {
    float: left;
    background: url("images/sprites.png") no-repeat -140px -96px, #3bbce3;
}

.card3 .btn,
.card4 .btn,
.card5 .btn {
    padding-left: 5px;
}

.card3 {
    float: right;
    background: url("images/sprites.png") no-repeat -140px -214px, #dc91d8;
}

.card3 .btn {
    padding-right: 6px;
}

.card4 {
    float: right;
    background: url("images/sprites.png") no-repeat -149px -328px #8ed78f;
}

.card4 .btn {
    padding-right: 6px;
}

.card5 {
    float: right;
    background: url("images/sprites.png") no-repeat -150px -467px, #ffbf47;
}

.card5 .btn {
    padding-right: 6px;
}

.card .btn:hover {
    background-color: rgba(37, 37, 37, 0.4);
}

.card .btn:active {
    background-color: rgba(37, 37, 37, 0.6);
}

.products {
    margin-bottom: 3px;
}

.popular-heading {
    background-color: #f9f5f0;
    padding: 22px 24px 26px 28px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
}

.popular-heading .h {
    margin-top: 8px;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    color: #32425c;
    text-transform: uppercase;
}

.popular-heading .btn {
    width: 253px;
    text-align: center;
    margin-top: 3px;
}

.popular-catalog {
    display: flex;
    justify-content: space-between;
}

.popular-catalog .catalog-item {
    margin-right: 0;
}

.manufacturers {
    margin-bottom: 65px;
}

.manufacturers .popular-heading {
    padding-left: 24px;
}

.manufacturers-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.manufacturers-list .item {
    width: 220px;
    text-align: center;
    border: 1px solid #eaeaea;
    opacity: 1;
    transition: opacity .2s ease;
    height: 145px;
    display: flex;
    margin-bottom: 20px;
}

.manufacturers-list .item:hover {
    box-shadow: 0 6px 11px 4px rgba(0, 0, 0, 0.3);
}

.manufacturers-list .item:active {
    opacity: 0.4;
    box-shadow: 0 6px 7px 1px rgba(0, 0, 0, 0.3);
}

.manufacturers-list img {
    margin: auto;
}

.services {
    padding-bottom: 48px;
    background-color: #f4f8fa;
    padding-top: 65px;
}

.services>.container>.h {
    font-weight: 400;
}

.services p {
    line-height: 24px;
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    width: 400px;
    margin-bottom: 35px;
}

.services .h {
    margin-bottom: 26px;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}

.second-slider-input {
    display: none;
}

.second-slider {
    position: relative;
    display: flex;
    justify-content: space-between;
    min-height: 270px;
}

.second-slider .slider-list {
    margin: 0;
    padding: 0;
    padding-top: 35px;
    list-style: none;
}

.second-slider .slide {
    display: none;
    position: relative;
    width: 620px;
}

.second-slider .slide1::after {
    content: "";
    position: absolute;
    width: 468px;
    height: 261px;
    background: url("images/sprites.png") no-repeat -625px -313px;
    top: 0;
    right: 0;
}

.second-slider .slide2::after {
    content: "";
    position: absolute;
    width: 389px;
    height: 283px;
    background: url("images/sprites.png") no-repeat -1385px -9px;
    top: 0;
    right: -8px;
}

.second-slider .slide3::after {
    content: "";
    position: absolute;
    width: 465px;
    height: 285px;
    background: url("images/sprites.png") no-repeat -1296px -343px;
    top: -2px;
    right: -13px;
}

.second-slider .h {
    color: #32425c;
    font-size: 35px;
    font-weight: 400;
    margin-bottom: 28px;
}

.second-slider p {
    margin-bottom: 26px;
    width: 400px;
}

.second-slider .slide2 p {
    margin-bottom: 30px;
    width: 400px;
}

.second-slider .slider-controls {
    height: 250px;
    padding-top: 35px;
    width: 240px;
    box-shadow: 5px 0 2px -4px rgba(0, 0, 0, 0.3);
}

.second-slider label {
    font-size: 21px;
    padding: 15px;
    padding-left: 22px;
    box-sizing: border-box;
    display: block;
    width: 240px;
    height: 61px;
    color: #fff;
    background-color: #32425c;
    cursor: pointer;
    font-weight: 700;
    border-bottom: 1px solid #4d627b;
}

.second-slider .slide3 .btn {
    width: 195px;
}

.second-slider .slider-controls label:hover {
    background-color: #293449;
}

.second-slider .slider-controls label:last-child {
    border: none;
    height: 59px;
}

#product-1:checked~.second-slider .slide1,
#product-2:checked~.second-slider .slide2,
#product-3:checked~.second-slider .slide3 {
    display: block;
}

#product-1:checked~.second-slider label[for="product-1"],
#product-2:checked~.second-slider label[for="product-2"],
#product-3:checked~.second-slider label[for="product-3"] {
    background-color: #fff;
    color: #32425c;
}

.company--contacts .container {
    display: flex;
    justify-content: space-between;
    padding-top: 82px;
    padding-bottom: 86px;
}

.company--contacts .h {
    margin-bottom: 30px;
    font-size: 30px;
    line-height: 24px;
    font-weight: 400;
    text-transform: uppercase;
}

.company--contacts p {
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    line-height: 24px;
}

.company .p1 {
    width: 525px;
    margin-bottom: 24px;
}

.company .p2 {
    width: 390px;
    margin-bottom: 20px;
}

.company .btn {
    width: 220px;
}

.contacts .btn {
    width: 100%;
}

.deliverers {
    list-style: none;
    padding: 0;
    margin-bottom: 36px;
}

.deliverers li {
    font-size: 18px;
    line-height: 20px;
    position: relative;
    padding-left: 35px;
    margin-bottom: 20px;
}

.contacts p {
    margin-bottom: 30px;
}

.map-container {
    min-height: 160px;
    min-width: 300px;
    margin-bottom: 38px;
}

.map {
    height: 160px;
    width: 300px;
    margin-bottom: 40px;
    cursor: pointer;
}

.map-container .close-map {
    display: none;
}

.opened.map-positioner {
    position: absolute;
    width: 940px;
    height: 450px;
    left: 50%;
    top: 2320px;
    transform: translateX(-50%);
}

.opened .map {
    width: 940px;
    height: 450px;
}

.opened .close-map {
    display: block;
    position: absolute;
    right: 16px;
    top: 40px;
}

.tech-footer {
    background-color: #32425C;
    color: #FFF;
}

.tech-footer a {
    color: #FFF;
    text-decoration: none;
}

.tech-footer .logo {
    font-size: 30px;
    line-height: 30px;
    padding-top: 18px;
    padding-bottom: 15px
}

.bot-navigation {
    font-size: 18px;
    line-height: 24px;
}

.bot-navigation .container {
    margin-bottom: 49px;
}

.bot-first-block {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

.bot-second-block p {
    display: block;
}

.bot-second-block {
    display: flex;
    justify-content: space-between;
    padding: 3px 0 0 3px;
}

.bot-first-nav {
    padding-top: 38px;
}

.bot-first-nav a {
    margin-right: 55px;
}

.bot-first-nav a:nth-child(2) {
    margin-right: 54px;
}

.bot-first-nav a:nth-child(3) {
    margin-right: 57px;
}

.bot-first-nav a:nth-child(4) {
    margin-right: 53px;
}

.bot-first-nav a:last-child {
    margin-right: 0;
}

.bot-second-nav a {
    color: #ffd180;
    margin-right: 55px;
}

.bot-second-block a:last-child {
    margin-right: 0;
}

.bot-first-nav a,
.bot-second-nav a {
    transition: opacity .1s ease;
}

.bot-first-nav a:hover,
.bot-second-nav a:hover {
    text-decoration: underline;
}

.bot-first-nav a:active,
.bot-second-nav a:active {
    text-decoration: none;
    opacity: 0.3;
}

.bot-links {
    background-color: #293449;
}

.bot-links .h {
    font-weight: 400;
}

.bot-links .copyright {
    margin: 0;
    margin-right: 158px;
}

.bot-links .link:hover {
    text-decoration: underline;
}

.bot-links .link:active {
    text-decoration: none;
    color: #e13643;
}

.bot-links-flex {
    padding: 37px 0 25px 0;
    background-color: #293449;
    display: flex;
}

.soc-links {
    margin-right: 119px;
    margin-top: -1px;
}

.soc-links a {
    display: inline-block;
    width: 41px;
    height: 41px;
    border-radius: 50%;
    background-color: #212a3a
}

.soc-links a:hover {
    background-color: #ee3643;
}

.soc-links a:active {
    background-color: #ee3643;
}

.vk-link {
    background: url("images/sprites.png") no-repeat -55px -7px;
}

.fb-link {
    background: url("images/sprites.png") no-repeat -56px -55px;
}

.inst-link {
    background: url("images/sprites.png") no-repeat -56px -103px;
}

.feedback {
    margin-right: 52px;
}

.bot-links .link {
    color: #ffd180;
}


/*↑↑  index index  ↑↑*/


/*↑↑  index index  ↑↑*/


/*↑↑  index index  ↑↑*/


/*↑↑  index index  ↑↑*/

.techmart-catalog .tech-header {
    margin-bottom: 0;
}

.techmart-catalog .basket-link {
    background-color: #ee3643;
    padding-left: 23px;
}

.login-block {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.login-block .signed-account {
    padding-left: 48px;
    width: 265px;
    padding-right: 20px;
}

.login-block .logout {
    padding: 0;
    width: 35px;
    height: 45px;
    font-size: 0;
    background: url("images/sprites.png") no-repeat -812px -653px, #fff;
}

.login-actions {
    padding-top: 7px;
}

.signed-account {
    background: url("images/sprites.png") no-repeat -1001px -50px, #fff;
}

.signed-account:hover {
    background: url("images/sprites.png") no-repeat -1001px -103px, #fff;
}

.signed-account:active {
    background: url("images/sprites.png") no-repeat -1001px -149px, #fff;
    color: #b2b2b2;
}

.logout:hover {
    background: url("images/sprites.png") no-repeat -812px -704px, #fff;
}

.logout:active {
    background: url("images/sprites.png") no-repeat -813px -755px, #fff;
}

.login-actions a {
    display: inline-block;
    color: #32425c;
    position: relative;
    font-size: 16px;
    margin-right: 8px;
    padding-left: 19px;
    line-height: 18px;
}

.login-actions a:hover {
    color: #ee3643;
}

.login-actions a:active {
    color: #b2b2b2;
}

.account-details::after {
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    left: 2px;
    top: 7px;
    background-color: #32425c;
}

.catalog-breadcrumbs {
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.catalog-breadcrumbs a {
    font-size: 13px;
    line-height: 18px;
    font-family: 'PT Sans', sans-serif;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
}

.catalog-breadcrumbs .home-icon {
    margin-right: 12px;
    width: 16px;
    height: 14px;
    position: relative;
    top: 2px;
    left: -2px;
    background: url("images/sprites.png") no-repeat -815px -117px;
}

.catalog-breadcrumbs .real-breadcrumb {
    padding-left: 23px;
    padding-right: 16px;
    position: relative;
}

.real-breadcrumb::after {
    content: "";
    position: absolute;
    left: -4px;
    top: 1px;
    width: 8px;
    height: 14px;
    background: url("images/sprites.png") no-repeat -74px -470px;
}

.catalog--filters {
    font-family: 'PT Sans', sans-serif;
    display: flex;
    justify-content: space-between;
}

.filters {
    width: 220px;
}

.catalog-heading {
    margin-bottom: 20px;
    background-color: #f2f6f8;
    color: #32425c;
    text-transform: uppercase;
    padding: 30px 20px 29px 28px;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
}

.sort {
    padding: 8px 17px 9px 19px;
    background-color: #f7f3ec;
    display: flex;
    justify-content: space-between;
    border-radius: 3px;
}

.sort-types {
    margin: 0;
    padding: 0;
    font-size: 0;
    padding-top: 3px;
}

.sort-types .btn {
    padding: 0;
    vertical-align: middle;
    background: none;
    color: #acaaa5;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 14px;
}

.sort-types .type-of-sort {
    border-bottom: 1px dotted #ee3643;
    margin-right: 68px;
}

.sort-types .btn:nth-child(2) {
    margin-right: 65px;
}

.sort-types .btn:nth-child(3) {
    margin-right: 47px;
}

.sort-types .type-of-sort:hover {
    color: #000;
    border-bottom-style: solid;
}

.type-of-sort.on-this-page {
    border: none;
    color: #ee3643;
}

.type-of-sort.on-this-page:hover {
    border: none;
}

.sort-types .arrow {
    width: 11px;
    height: 11px;
}

.sort-types .up-arrow {
    background: url("images/sprites.png") no-repeat -67px -169px;
    margin-right: 21px;
}

.sort-types .down-arrow {
    background: url("images/sprites.png") no-repeat -70px -319px;
}

.sort-types .up-arrow:hover {
    background: url("images/sprites.png") no-repeat -69px -218px;
}

.sort-types .down-arrow:hover {
    background: url("images/sprites.png") no-repeat -70px -370px;
}

.sort-types .up-arrow.on-this-page {
    background: url("images/sprites.png") no-repeat -70px -270px;
}

.sort-types .down-arrow.on-this-page {
    background: url("images/sprites.png") no-repeat -70px -420px;
}

.sort-heading {
    margin: 0;
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 21px;
}

.filters .sort {
    margin-bottom: 10px;
}

.filter-heading {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 15px;
}

.catalog-toggle {
    padding-bottom: 4px;
}

.price-range-controls {
    width: 100%;
    height: 80px;
    margin-bottom: 9px;
    background-color: #f7f3ec;
    position: relative;
    padding: 39px 10% 39px 10%;
}

.price-range-controls .scale {
    width: 100%;
    background-color: #d7dcde;
    height: 2px;
}

.price-range-controls .bar {
    background-color: #00ca74;
    height: 2px;
    width: 85%;
}

.price-range-controls .range-toggle {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 8px solid #fff;
    background-color: #ababab;
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.2)
}

.price-range-controls .range-toggle:hover {
    background-color: #00ca74;
}

.price-range-controls .range-toggle:active {
    background-color: #000;
}

.price-range-controls .min-toggle {
    left: 13%;
}

.price-range-controls .max-toggle {
    left: 77%;
}

.price-limits input {
    text-align: center;
    width: 95px;
    padding: 8px 6px 12px 10px;
    background-color: #f7f3ec;
    border: none;
    font-family: 'PT Sans', sans-serif;
}

.price-limits span {
    margin: 0 4px;
}

.filters hr {
    size: 30px;
    color: #e5e5e5;
    border: none;
    margin: 20px 0 16px 0;
    border-top: 1px solid #e5e5e5;
}

.filters-group {
    display: flex;
    flex-direction: column;
}

.filters-group .filter-heading {
    margin-bottom: 11px;
}

.filters-group input {
    display: none;
}

.filters-group label {
    display: inline-block;
    text-transform: uppercase;
}

.filters-group label:last-child {
    margin-bottom: 0;
}

.custom-check {
    position: relative;
    padding: 3px 30px 3px 34px;
    margin-bottom: 14px;
    font-size: 15px;
    line-height: 20px;
}

.custom-check::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    left: 0;
    top: 2px;
    background: url("images/sprites.png") no-repeat -14px -462px;
}

.custom-check:hover::after {
    background: url("images/sprites.png") no-repeat -14px -513px;
}

.filters-group input[type="checkbox"]:checked+label:after {
    background: url("images/sprites.png") no-repeat -11px -313px;
}

.filters-group input[type="checkbox"]:checked+label:hover:after {
    background: url("images/sprites.png") no-repeat -10px -362px;
}

.custom-radio {
    padding: 3px 34px 5px 34px;
    position: relative;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
}

.custom-radio::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    left: 0;
    top: 2px;
    background: url("images/sprites.png") no-repeat -12px -163px;
}

.custom-radio:hover::after {
    background: url("images/sprites.png") no-repeat -12px -211px;
}

.filters-group input[type="radio"]:checked+label:after {
    background: url("images/sprites.png") no-repeat -12px -12px;
}

.filters-group input[type="radio"]:checked+label:hover:after {
    background: url("images/sprites.png") no-repeat -12px -59px;
}

.filters .btn {
    color: #000;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    padding: 10px 0 8px 0;
    width: 140px;
    text-transform: uppercase;
    margin-top: 75px;
    font-size: 12px;
    line-height: 18px;
    border-radius: 3px;
}

.catalog-block {
    width: 700px;
}

.catalog-block .sort {
    margin-bottom: 20px;
}

.catalog {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 32px;
}

.catalog-item {
    position: relative;
    width: 220px;
    text-align: center;
    border: 1px solid #eaeaea;
    height: 318px;
    font-family: 'PT Sans', sans-serif;
    margin-right: 20px;
    margin-bottom: 20px;
}

.catalog-item:hover {
    box-shadow: 0 5px 16px 1px rgba(0, 0, 0, 0.5);
}

.image-wrap {
    display: flex;
    height: 180px;
    position: relative;
    transition: opacity .2s ease;
}

.image-wrap img {
    margin: auto;
}

.item-btns {
    z-index: 1;
    position: absolute;
    display: none;
    width: 135px;
    top: 45px;
    left: 50%;
    transform: translateX(-50%);
}

.item-btns .btn {
    display: block;
    width: 135px;
    border-radius: 2px;
    text-align: center;
    text-transform: uppercase;
    padding: 12px 11px 10px 11px;
    font-family: 'Cuprum', sans-serif;
    font-size: 14px;
    line-height: 14px;
}

.item-btns .buy {
    color: #fff;
    background: url("images/sprites.png") no-repeat -4px -663px, #63a63e;
    border-bottom: 3px solid #367315;
    margin-bottom: 7px;
}

.item-btns .buy:hover {
    background: url("images/sprites.png") no-repeat -3px -708px, #5fbb2d;
}

.item-btns .buy:active {
    border-color: #518534;
    background: url("images/sprites.png") no-repeat -3px -708px, #518534;
}

.item-btns .add-to-bookmarks {
    background-color: #FFF;
    color: #32425c;
    border: 3px solid #63a63e;
}

.item-btns .add-to-bookmarks:hover {
    background-color: #fff;
    color: #32425c;
    border-color: #32425c;
}

.item-btns .add-to-bookmarks:active {
    background-color: #fff;
    color: #c1c6ce;
    border-color: #c1c6ce;
}

.catalog-item:hover .item-btns {
    display: block;
}

.catalog-item:hover .image-wrap {
    opacity: 0;
}

.catalog-item:nth-child(3n) {
    margin-right: 0;
}

.catalog-item .item-name {
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    padding: 0 30px;
    margin-bottom: 10px;
}

.catalog-item .item-old-price {
    margin-bottom: 9px;
    min-height: 19px;
    color: #aaa;
    font-size: 17px;
    padding-left: 3px;
}

.catalog-item .item-new-price {
    color: #fff;
    padding: 7px;
    padding-top: 10px;
    background: #ee3643;
    background: url("images/sprites.png") no-repeat -540px -33px;
    font-size: 17px;
    min-height: 39px;
    padding-left: 10px;
}

.catalog-info {
    background-color: #f2f6f8;
    padding: 61px 0 67px 0;
}

.catalog-info .h {
    text-transform: uppercase;
    font-family: 'Cuprum', sans-serif;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 26px;
}

.catalog-info p {
    font-family: 'Cuprum', sans-serif;
    font-size: 15px;
    line-height: 24px;
}

.pagination {
    margin-bottom: 60px;
    font-size: 0;
}

.pagination .btn {
    margin-right: 10px;
    font-size: 13px;
    line-height: 18px;
    padding: 9px 14px 9px 15px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #e5e5e5;
    text-transform: uppercase;
    vertical-align: top;
}

.pagination .btn.on-this-page {
    color: #fff;
    background-color: #ee3643;
    border-color: #ee3643;
}

.pagination .btn:hover {
    border-color: #bdc6ca;
}

.pagination .btn:active {
    border-color: #ee3643;
}

.pagination .btn:last-child {
    padding: 9px 30px;
}


/*↑↑↑↑  каталог  ↑↑↑↑*/


/*↑↑↑↑  каталог  ↑↑↑↑*/


/*↑↑↑↑  каталог  ↑↑↑↑*/


/*↑↑↑↑  каталог  ↑↑↑↑*/

.modal-container {
    width: 460px;
    margin: auto;
}

.close-modal {
    position: absolute;
    width: 21px;
    height: 21px;
    background: url("images/sprites.png") no-repeat -966px -263px;
    right: 9px;
    top: 9px;
    cursor: pointer;
    z-index: 4;
}

.write-us-modal {
    position: absolute;
    display: none;
    border-top: 7px solid #ff5357;
    width: 620px;
    margin: auto;
    left: 50%;
    transform: translateX(-50%);
    top: 2450px;
    z-index: 1;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.5);
}

.write-us-modal label {
    font-size: 18px;
    line-height: 28px;
    display: block;
}

.write-us-modal .name-group,
.write-us-modal .mail-group {
    width: 220px;
    margin-bottom: 20px;
}

.write-us-modal .comment-group {
    width: 460px;
    overflow: auto;
}

.comment-group textarea {
    background-image: url("images/kappa.png");
    background-size: 40px 40px;
}

.name,
.mail,
.comment {
    font-size: 13px;
    line-height: 18px;
    width: 100%;
    border-radius: 2px;
    border: 2px solid #dee3e4;
    padding: 9px 15px 8px 15px;
}

.comment {
    resize: none;
}

.name::-webkit-input-placeholder,
.mail::-webkit-input-placeholder,
.comment::-webkit-input-placeholder {
    color: #a9a9a9;
}

.name::-moz-placeholder,
.mail::-moz-placeholder,
.comment::-moz-placeholder {
    color: #a9a9a9;
}

.name:-moz-placeholder,
.mail:-moz-placeholder,
.comment:-moz-placeholder {
    color: #a9a9a9;
}

.modal-inputs {
    padding: 45px 0 35px 0;
    background-color: #fff;
}

.modal-inputs .modal-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.modal-submit {
    text-align: center;
    width: 100%;
}

.modal-btn-tint {
    padding: 37px 0;
    background-color: #f4f4f4;
}

.cart-modal {
    display: none;
    background-color: #fff;
    position: fixed;
    top: 50%;
    z-index: 2;
    box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.5);
    width: 620px;
    height: 280px;
    transform: translate(-50%, -50%);
    left: 50%;
    border-top: 7px solid #ff5357;
}

.cart-modal .h {
    background: url("images/sprites.png") no-repeat -1344px -716px;
    padding: 70px 20px 71px 190px;
    font-size: 30px;
    line-height: 18px;
}

.cart-modal .btn {
    width: 220px;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
}

.cart-modal .modal-container {
    display: flex;
    justify-content: space-between;
}

.continue-buy {
    font-family: 'Cuprum', sans-serif;
    border-radius: 3px;
    padding: 12px 50px 10px 50px;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
    cursor: pointer;
    background-color: #fff;
    color: #000;
}

.opened {
    display: block;
    opacity: 1;
}

.closed {
    display: none;
}

.just-pseudo,
.just-pseudo2 {
    display: none;
}

.just-pseudo::after {
    content: "";
    position: absolute;
    width: 245px;
    height: 281px;
    background: url("images/navalny.png") no-repeat;
    top: 2792px;
    left: 5%;
}

.just-pseudo::before {
    content: "";
    position: absolute;
    width: 200px;
    height: 280px;
    left: 100%;
    transform: translateX(-100%);
    background: url("images/kianu.png") no-repeat;
    top: 2610px;
    background-size: 200px auto;
}

.just-pseudo2::after {
    content: "";
    position: absolute;
    width: 150px;
    height: 347px;
    background: url("images/svid.png") no-repeat;
    background-size: 150px auto;
    top: 2455px;
    left: 78%;
}

audio {
    display: none;
}